<div class="row">
    <div class="col-md-10">
        <app-shopping-edit></app-shopping-edit>
        <hr />
        <ul class="list-group">
            <li class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients; let i = index;">
                <a (click)="onEditIngredient(i)">
                    {{ingredient.name}} ({{ingredient.amount}})
                </a>
                <span class="text-danger pull-right" title="Remove" (click)="onDeleteIngredient(i)">X</span>
            </li>
        </ul>
    </div>
</div>