<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="onSubmit()" #manageIngredientsForm="ngForm">
            <div class="row">
                <div class="col-sm-5 col-xs-12 col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" ngModel class="form-control" required #name="ngModel"/>
                    <span class="text-danger" *ngIf="name.touched && name.errors && name.errors.required">Name is required.!</span>
                </div>
                <div class="col-sm-3 col-xs-12 col-md-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" required pattern="^[1-9]+[0-9]*$" ngModel class="form-control" #amount="ngModel" />
                    <span class="text-danger" *ngIf="amount.errors">
                        <span *ngIf="amount.touched && amount.errors && amount.errors.required">Please enter the amount.!</span>
                        <span *ngIf="amount.touched && amount.errors && amount.errors.pattern">Please enter valid amount.!</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" [disabled]="manageIngredientsForm.invalid">{{isEditMode ? 'Update' : 'Add'}}</button>
                        <button style="margin-left: 10px;" class="btn btn-info ml-3" type="button" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>